* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#051f30, #000000);
    color: #fff; /* Agregado para corregir el color del texto */
}
.navbar {
    display: flex; /* Usar flexbox para la barra de navegación */
    justify-content: space-between; /* Espacio entre los botones */
    align-items: center; /* Centrar verticalmente */
    background-color: transparent; /* Cambiar el fondo a transparente */
    padding: 10px 20px; /* Espaciado interno */
    width: 98%; /* Ancho completo */
    box-shadow: 0 2px 5px rgba(43, 47, 53, 0.5); /* Sombra para dar profundidad */
}

.nav-button {
    background-color: #0a2742; /* Fondo de los botones */
    color: rgb(209, 221, 247); /* Color de texto de los botones */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno de los botones */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.nav-button:hover {
    background-color: rgb(150, 150, 150); /* Cambiar color al pasar el mouse */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.search {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search i {
    font-size: 25px;
    color: #fff; /* Corregido */
}

.search-txt {
    display: flex;
    align-items: center;
}

.search-txt i {
    font-size: 40px;
    color: #F8010A;
}

.search-txt h2 {
    color: #fff; /* Corregido */
    font-size: 30px;
    margin-left: 10px;
}
.search-btn {
    display: flex;
    align-items: center;
  }
  
  .btn-back {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
    background-color: #458be7;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn-back i {
    margin-right: 8px;
  }
  
  .btn-back:hover {
    background-color: #c00009;
  }
  

.movies {
    padding: 50px 0 150px 0;
}

.movies h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #fff; /* Corregido */
}

.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
/* Estilos responsivos */
@media (max-width: 768px) {
    .menu {
        width: 60px; /* Reducir el ancho del menú en pantallas más pequeñas */
    }
    .info {
        margin-left: 60px; /* Ajustar margen en pantallas más pequeñas */
    }
}