* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  font-family: 'Baloo bhai 2';
  background: linear-gradient(#03050c, black, #0b1225);
}

.accordion {
  display: flex;
  gap: 20px;
  width: 600px;
  padding: 15px;
  list-style: none;
  margin-top: 100px;
  border-radius: 10px;
  height: max-content;
  flex-direction: column;
}

.details {
  border-radius: 15px;
  padding: 10px 15px;
  border: 1px solid #121726f7;
  background: linear-gradient(291deg, black, #070c13, black);
}

.summary {
  display: flex;
  color: white;
  line-height: 1.5;
  cursor: pointer;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}

.details.open .summary,
.summary:hover {
  color: #99ecec;
}

.summary::after {
  content: '\F282';
  transition: transform .3s;
  font-size: 12px;
  font-family: 'bootstrap-icons';
}

.content {
  height: 0;
  overflow: hidden;
  font-size: 15px;
  transition: height .3s;
  color: rgb(198 198 198);
}

.details.open .summary::after {
  transform: rotate(180deg);
}
.search-btn {
  display: flex;
  align-items: center;
}

.btn-back {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  background-color: #458be7;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-back i {
  margin-right: 8px;
}

.btn-back:hover {
  background-color: #c00009;
}
